<h1> All To Do's </h1>


  <%# @lists.each do |list| %>
    <!-- <h3><%#= list.name %></h3><br/> -->
  <%# end %>

  <% @tasks.each do |task| %>
    <!-- <li> -->
    <input type="checkbox" value="soccer"/> <%= task.name %> <br/>
    <!-- </li> -->
  <% end %>


<%= link_to "Create a New Task", new_task_path %>
